$big: 1.5rem;
$biggy: 2rem;
$bigger: 3rem;
$biggest: 3.5rem;

$fat-image: 8rem;
$black: #111;
$green: #00cc00;
$blue: #66ccff;
$orange: #ff9933;
$yellow: #ccff66;
$pink: #ff33ff;
$purple: #6600cc;

$button-height: 5rem;
$button-width: 25rem;

$button-map: (
a: ($yellow, $pink, $green, $blue),
b: ($purple, $orange, $yellow, $green),
c: ($pink, $blue, $black, $orange)
)
