* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

main {
  margin-left: 2rem;
}

button {
  background: blue;
  color: white;
  padding: 1rem;
}

#conditions {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 2rem;
}



.taskbox {
margin: 20px auto;
width: 343px;
height: 375px;
-webkit-border-radius: 8px/7px;
-moz-border-radius: 8px/7px;
border-radius: 8px/7px;
background-color: #ebebeb;
-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
box-shadow: 1px 2px 5px rgba(0,0,0,.31);
border: solid 1px #cbc9c9;
}

.notemp {
  margin-top: 2rem;
  color: blue;
  text-align: center;
  font-size: 72px;
}

#temp {
  display: block;
  cursor:pointer;
}

#icon img {
  display: block;
  margin: auto;
  width: 6rem;
}
