* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

main {
  margin-left: 2rem;
}

button {
  background: blue;
  color: white;
  padding: 1rem;
}

#conditions {
  background-color: purple;
  padding: 6rem;
  margin-top: 1rem;
  /*margin: 2rem;*/
  width: 60%;
}

#temp {
  display: block;
  cursor:pointer;
  color:#fff;
}

#icon img {
  display: block;
  margin: auto;
  width: 6rem;
}
